<section class="content-header">
    <h1>
        Pengolahan Data Karyawan
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-database"></i> Master</a></li>
        <li class="active">Karyawan</li>
    </ol>
</section>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-search"></i> Pencarian</h3>
                </div>
                <div class="box-body">
                    <form class="form-horizontal" action="{$config->site_url('master/karyawan/search_process')}" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="nama_karyawan" class="col-sm-2 control-label">Nama Karyawan</label>
                                <div class="col-sm-4">
                                    <input type="text" name="nama_karyawan" value="{$search.nama_karyawan|default:''}" class="form-control" id="nama_karyawan" placeholder="">
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" value="Reset" name="save" class="btn btn-default">Reset</button>
                                    <button type="submit" value="Cari" name="save" class="btn btn-primary">Cari</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Tabel Data Karyawan</h3>
                    <div class="box-tools">
                        <a class="btn btn-sm btn-success" href="{$config->site_url('master/karyawan/add')}" ><i class="fa fa-plus"></i> Tambah Data</a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                            
                            <tr>
                                <th width="5%">No.</th>
                                <th width="10%">NIK</th>
                                <th width="20%">Nama</th>
                                <th width="20">Department</th>
                                <th width="15%">Email</th>
                                <th width="15%">HP</th>
                                <th width="10%">Status</th>
                                <th width="13%">Action</th>
                            </tr>
                            {foreach $dpt_id as $result}
                            <tr>
                                <td align="middle">{$no++}</td>
                                <td align="middle">{$result.nik}</td>
                                <td align="middle">{$result.nama_karyawan}</td>                           
                                <td align="middle" >{$result.nama_department}</td>
                                <td align="middle">{$result.email}</td>
                                <td align="middle">{$result.telp}</td>
                                <td align="middle">{$result.status}</td>
                                <td>
                                    <a href="{$config->site_url('master/karyawan/edit')}/{$result.id_karyawan}" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                                    <a href="{$config->site_url('master/karyawan/delete')}/{$result.id_karyawan}" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
                                </td>
                            </tr>
                            {foreachelse}
                            <tr>
                                <td colspan="4">
                                    Data tidak ditemukan!
                                </td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    {$pagination.data|default:''}
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>


