<section class="content-header">
    <h1>
        Pengolahan Data Stok Obat
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-database"></i> Master</a></li>
        <li class="active">Stok Obat</li>
    </ol>
</section>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-search"></i> Pencarian</h3>
                </div>
                <div class="box-body">
                    <form class="form-horizontal" action="{$config->site_url('master/stok/search_process')}" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="category_nm" class="col-sm-2 control-label">Nama Obat</label>
                                <div class="col-sm-4">
                                    <input type="text" name="nama_obat" value="{$search.nama_obat|default:''}" class="form-control" id="category_nm" placeholder="">
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" value="Reset" name="save" class="btn btn-default">Reset</button>
                                    <button type="submit" value="Cari" name="save" class="btn btn-primary">Cari</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Tabel Data Stok Obat</h3>
                    <div class="box-tools">
                       <a class="btn btn-sm btn-success" href="{$config->site_url('master/stok/add')}" ><i class="fa fa-plus"></i> Tambah Data</a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th width="5%">No.</th>
                                <th width="10%">ID Stok</th>
                                <th>Nama Obat</th>
                                <th>Jumlah</th>
                                <th>Tanggal Entry</th>
                                <th>Gambar</th>
                                <th width="13%">Action</th>
                            </tr>
                            {$total=0}
                            {foreach $stok as $result}
                                {if $result.jml < 10} 
                                <tr style="color:red">
                                    <td align="middle">{$no++}</td>
                                    <td align="middle">{$result.stok_id}</td>
                                    <td>{$result.nama_obat|ucfirst}</td>
                                    <td align="middle">{$result.jml}</td>
                                    <td>{date('m-d-y',strtotime($result.tgl_entry))}</td>
                                    <td align="middle"><img style="max-height:180px; max-width:180px" src="{$BASEURL}resource/doc/{$result.gambar}"/></td>
                                    <td>
                                        <a href="{$config->site_url('master/stok/edit')}/{$result.stok_id}" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                                        <a href="{$config->site_url('master/stok/delete')}/{$result.stok_id}" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
                                    </td>
                                  </tr>
                                {else}
                                <tr>
                                    <td align="middle">{$no++}</td>
                                    <td align="middle">{$result.stok_id}</td>
                                    <td>{$result.nama_obat|ucfirst}</td>
                                    <td align="middle">{$result.jml}</td>
                                    <td>{date('m-d-y',strtotime($result.tgl_entry))}</td>
                                    <td align="middle"><img style="max-height:180px; max-width:180px" src="{$BASEURL}resource/doc/{$result.gambar}"/></td>
                                    <td>
                                        <a href="{$config->site_url('master/stok/edit')}/{$result.stok_id}" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                                        <a href="{$config->site_url('master/stok/delete')}/{$result.stok_id}" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
                                    </td>
                                {/if}
                            </tr>
                            {$total=$total+$result.jml}
                            {foreachelse}
                            <tr>
                                <td colspan="4">
                                    Data tidak ditemukan!
                                </td>
                            </tr>
                            {/foreach}
                            <tr>
                                <td colspan="3">TOTAL</td>
                                <td align="middle">{$total}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    {$pagination.data|default:''}
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
