<section class="content-header">
    <h1>
        Pengolahan Data Planning
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-briefcase"></i> Planning</a></li>
        <li><a href="#">Data Planning</a></li>
        <li class="active">Detail Data Planning</li>
    </ol>
</section>

<section class="content">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Form detail Planning</h3>
                    <div class="box-tools">
                        <a class="btn btn-sm btn-primary" href="{$config->site_url('planning/planning')}" ><i class="fa fa-long-arrow-left"></i> Kembali</a>
                    </div>
                </div>
                <!-- /.box-header -->

                <div class="box-body">
                    <form class="form-horizontal" action="{$config->site_url('execution/execution/execution_process')}" method="post">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="submit" name="Hallo" class="btn btn-primary"><i> Hallo </i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->


            </div>
            <!-- /.box-box -->
        </div> 
        <!-- /.col -->

                <div class="box-footer clearfix">
                    {$pagination.data|default:''}
                </div>

    </div>
</section>