<section class="content-header">
    <h1>
        Pengolahan Data Client
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-database"></i> Master</a></li>
        <li class="active">Client</li>
    </ol>
</section>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-search"></i> Pencarian</h3>
                </div>
                <div class="box-body">
                    <form class="form-horizontal" action="{$config->site_url('master/client/search_process')}" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="client_name" class="col-sm-2 control-label">Nama Client</label>
                                <div class="col-sm-4">
                                    <input type="text" name="client_name" value="{$search.client_name|default:''}" class="form-control" id="client_name" placeholder="">
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" value="Reset" name="save" class="btn btn-danger">Reset</button>&nbsp;&nbsp;
                                    <button type="submit" value="Cari" name="save" class="btn btn-success">Cari</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Tabel Data Client</h3>
                    <div class="box-tools">
                        <a class="btn btn-sm btn-success" href="{$config->site_url('master/client/add_client')}" ><i class="fa fa-plus"></i> Tambah Data</a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td width="3%" align="middle"><b>No</b></td>
                                <td width="15%" align="middle"><b>Client Nama</b></td>
                                <td width="20%" align="middle"><b>Client Address</b></td>
                                <td width="15%" align="middle"><b>Person Name</b></td>
                                <td width="10%" align="middle"><b>Job Position</b></td>
                                <td width="5%" align="middle"><b>Phone Number</b></td>
                                <td width="15%" align="middle"><b>Email</b></td>
                                <td width="15%" align="middle"><b>Actions</b></td>
                            </tr>
{if {$department} == 8}
                            {foreach $rs_id as $result}
                            <tr>
                                <td align="middle">{$no++}</td>
                                <td align="middle">{$result.client_name}</td>
                                <td align="middle">{$result.client_address}</td>
                                <td align="middle">{$result.person_name}</td>
                                <td align="middle">{$result.job_position}</td>
                                <td align="middle">{$result.telp}</td>
                                <td align="middle">{$result.email}</td>
                                <td>
                                   <a href="{$config->site_url('master/client/edit')}/{$result.id_client}" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                                    <a class="btn btn-xs btn-danger" data-toggle="modal" data-target="#{$result.id_client|default:''}   "><i class="fa fa-trash-o"></i> Delete</a>

                                     <!-- Modal -->
                                      <div class="modal fade" id="{$result.id_client|default:''}" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h4 class="modal-title">Delete Client</h4>
                                            </div>
                                            <div class="modal-body"> 

                                                 <div class="box-body">
                                                        <form class="form-horizontal" action="{$config->site_url('master/client/delete_process')}" method="post">
                                                            <input type="hidden" name="id_client" value="{$result.id_client|default:''}">
                                                            <div class="box-body">
                                                                <div class="form-group">
                                                                    <label for="client_name" class="col-sm-2 control-label">Nama Client</label>
                                                                    <div class="col-sm-8">
                                                                        <input type="text" name="client_name" disabled value="{$result.client_name|default:''}" class="form-control" id="client_name" placeholder="" title="Masukkan Nama Client">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /.box-body -->
                                                            <div class="box-footer">
                                                                <div class="row">
                                                                    <div class="col-md-3 col-md-offset-8">
                                                                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i> Hapus</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /.box-footer -->
                                                        </form>
                                                    </div>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>
                                        </div>
                                     </div>
                                </td>
                            </tr>
                            {foreachelse}
                            <tr>
                                <td colspan="4">
                                    Data tidak ditemukan!
                                </td>
                            </tr>
                            {/foreach}
{else}
                            <tr>
                                <td colspan="4">
                                    <br>
                                        <b>Anda tidak memiliki hak akses untuk mengakses data karyawan</b>
                                    <br>
                                </td>
                            </tr>
{/if}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    {$pagination.data|default:''}
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>