<section class="content-header">
{include file="base/templates/notification.html"}
    <h1>
        Data Client
    </h1>
</section>
<section class="content">
<form method=post action="{$config->site_url('master/category/add_client')}" method="post">
<table weight = "2">
<tr>
	<td>Alias Name</td>
	<td width="700px"><input type="text" name="alias_name" placeholder="Nama Alias" class="form-control" required></td>
</tr>
<tr>
	<td>Name</td>
	<td><input type="text" name="client_name" placeholder="Nama Client" class="form-control" required></td>
</tr>
<tr>
	<td width="100px">Client Address</td>
	<td><input type="text" name="client_address" placeholder="Alamat Client" class="form-control" required></td>
</tr>
</table>

<section class="content-header">
    <h1>
    Data Person
    </h1>
 </section>
 <br>
 <table>
<tr>
	<td width="100px">Person Name</td>
	<td width="700px"><input type="text" name="person_name" placeholder="Nama Person" class="form-control" required></td>
</tr>
<tr>
	<td>Department</td>
	<td><input type="text" name="department" placeholder="Jabatan" class="form-control" required></td>
</tr>
<tr>
	<td>No. Telp</td>
	<td><input type="number" name="telp" placeholder="Nomor Telepon"  class="form-control" min="0" required></td>
</tr>
<tr>
	<td>Email</td> 
	<td><input type="email" name="email" placeholder="Email" class="form-control" required></td>
</tr>
</table>
<br>
&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;<button type="submit" class="btn btn-default">Kirim</button>
<button type="reset" value="reset" name="reset" class="btn btn-default">Reset</button>

</form>
</section>