<section class="content-header">
    <h1>
        Pengolahan Data finishing
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-sticky-note"></i> Closing</a></li>
        <li class="active">Data finishing</li>
    </ol>
</section>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->

<section class="content">
		<div class="row">
	        <div class="col-md-12">
	            <div class="box box-success">
	        		<div class="box-header with-border">
	        			<h3 class="box-title"><i class="fa fa-search"></i> Pencarian</h3>
	        		</div>
			        <div class="box-body">
		                <form class="form-horizontal" action="{$config->site_url('closing/rejecting/search_process')}" method="post">
		                    <div class="box-body">
		                        <div class="form-group">
		                            <label for="project_title" class="col-sm-2 control-label">Keyword</label>
		                            <div class="col-sm-4">
		                                <input type="text" title="Masukkan Nama Project" name="keyword" value="{$search.keyword|default:''}" class="form-control" id="Keyword" placeholder="">
		                            </div>
		                            <div class="col-sm-2">
		                            <select name="filter" min="0" max="40" class="form-control" widht='100px'>
		                                <option value="" >- Select Filter -</option>
		                                <option value='project_title'>Project Title</option>
		                                <option value='client_name'>Client Name</option>
		                            </select>
		                            </div>
		                                <button type="submit" value="Reset" name="save" class="btn btn-danger">Reset</button>&nbsp;&nbsp;
		                                <button type="submit" value="Cari" name="save" class="btn btn-success">Cari</button>
		                        </div>
		                    </div>
		               	</form>
		          	</div>
		        </div>
	            <div class="box">
	               	<div class="box-body">
		                <table class="table table-striped">
		                    <tbody>
		                        <tr>
		                            <td width="3%" align="middle"><b>No</b></td>
	                                <td width="20%" align="middle"><b>Project Title</b></td>
	                                <td width="15%" align="middle"><b>Client Nama</b></td>
	                                <td width="10%" align="middle"><b>Budget</b></td>
	                                <td width="18%" align="middle"><b>Durasi Termin</b></td>
	                                <td width="18%" align="middle"><b>Action</b></td>
		                        </tr>
		                        {foreach $closing as $result}
		                        <tr>
		                            <td align="middle">{$no++}</td>
		                            <td align="middle">{$result.project_title}</td>
		                            <td align="middle">{$result.client_name}</td>		                       
		                        	<td align="middle">Rp. {number_format($result.budget|default:'',0,",",".")}</td>
		                        	<td align="middle">Belum Dicari</td>
		                            <td align="middle">
		                                <a href="{$config->site_url('closing/finishing/detail')}/{$result.id_initiation}" class="btn btn-xs btn-warning" title="Detail"><i class="fa fa-book" title="Edit"></i> Detail</a> 
		                            </td>
		                        </tr>
		                        {foreachelse}
		                        <tr>
		                            <td colspan="4">
		                                Data tidak ditemukan!
		                            </td>
		                        {/foreach}
		                        </tr>		                       
		                    </tbody>
		                </table>
                	</div>
	            </div>
	        </div>
		</div>
</section>