<section class="content-header">
    <h1>
        Pengolahan Data Closing
    </h1>
</section>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->

<section class="content">
		<div class="row">
	        <div class="col-md-12">
	            <div class="box box-success">
	                <div class="box-header with-border">
	                    <h3 class="box-title"><i class="fa fa-search"></i> Pencarian</h3>
	                </div>
	                <div class="box-body">
	                    <form class="form-horizontal" action="{$config->site_url('initiation/initiation/search_process')}" method="post">
	                        <div class="box-body">
	                            <div class="form-group">
	                                <label for="project_title" class="col-sm-2 control-label">Nama Project</label>
	                                <div class="col-sm-4">
	                                    <input type="text" title="Masukkan Nama Project" name="project_title" value="{$search.project_title|default:''}" class="form-control" id="project_title" placeholder="">
	                                </div>
	                                <div class="col-sm-4">
	                                    <button type="submit" value="Reset" name="save" class="btn btn-danger">Reset</button>&nbsp;&nbsp;
	                                    <button type="submit" value="Cari" name="save" class="btn btn-success">Cari</button>
	                                </div>
	                            </div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	            <div class="box">
	                <div class="box-header with-border">
	                    <h3 class="box-title">Tabel Data Closing</h3>
	                    <div class="box-tools">
	                        <a class="btn btn-sm btn-success" href="{$config->site_url('initiation/initiation/add_initiation')}" ><i class="fa fa-plus"></i> Tambah Data</a>
	                    </div>
	                </div>
	               	<div class="box-body">
		                <table class="table table-striped">
		                    <tbody>
		                        <tr>
		                            <td width="5%" align="middle"><b>No</b></td>
		                            <td width="20%" align="middle"><b>Project Title</b></td>
		                            <td width="18%" align="middle"><b>Client Nama</b></td>
		                            <td width="25" align="middle"><b>Comment</b></td>
		                            <td width="10%" align="middle"><b>Action</b></td>
		                        </tr>
		                        {foreach $close_project as $result}
		                        <tr>
		                            <td align="middle">{$no++}</td>
		                            <td align="middle">{$result.project_title}</td>
		                            <td align="middle">{$result.client_name}</td>
		                        {/foreach}
		                        {foreach $komen as $komentar}
		                        	<td align="middle">{$komentar.komentar}</td>
		                            <td align="middle">
		                                <a href="{$config->site_url('closing/closing/edit')}/{$result.id_initiation}" class="btn btn-xs btn-primary" title="Edit"><i class="fa fa-pencil" title="Edit"></i> Edit</a> 
		                                <a href="{$config->site_url('closing/closing/delete')}/{$result.id_client}" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
		                            </td>
		                         {/foreach}
		                        </tr>
		                        <tr>
		                            <td colspan="4">
		                                Data tidak ditemukan!
		                            </td>
		                        </tr>		                        
		                    </tbody>
		                </table>
                	</div>
	            </div>
	        </div>
		</div>
</section>