<section class="content-header">
    <h1>
        Add Data Initiation
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-book"></i> Initiation</a></li>
        <li><a href="#">Data Initiation</a></li>
        <li class="active">Add Data Initiation</li>
    </ol>
</section>

<section class="content">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title"> </h3>
                    <div class="box-tools">
                        <a class="btn btn-sm btn-primary" href="{$config->site_url('initiation/initiation')}" ><i class="fa fa-long-arrow-left"></i> Kembali</a>
                    </div>
                </div>

	<form  action="{$config->site_url('initiation/initiation/add_process')}" method="post">
		<div class="box box-default" data-url="{$BASEURL}">
			<div class="box-header with-border">
					<label><h4><b>Detail Project</b></h4></label>
					<br>

				<div class="col-md-6">

						<div class="form-group">
							<label>Project Title</label>
								<input type="text" name="judul_project" placeholder="-- Judul Project --" title="Masukkan Judul Project" class="form-control" required oninvalid="this.setCustomValidity('Data tidak boleh kosong')" oninput="setCustomValidity('')">
						</div>
						
				<div class="form-group">
			<label>Project Manager Department</label>
			<br>
			<select name="department[]" class="form-control select2 department" multiple title="Pilih Manager Department Project" placeholder="-- Manager Department Project --">
	    			{foreach $datadepartment as $cth}
	    		<option value={$cth.id_department} placeholder="-- Manager Department Project --">{$cth.nama_department}</option>
	   				{foreachelse}
	   				Data tidak ditemukan !
	   				{/foreach}
	   		</select>
		</div>

		<div class="form-group">
			<label>Team Member Name</label>
			<br>
			<select name="karyawan[]" title="Pilih Anggota Tim" class="form-control select2 karyawan" data-value="" multiple="multiple" placeholder="-- Nama Anggota Tim --">
			{foreach $marketing_kar as $value}
				<option value="{$value.id_karyawan}" placeholder="-- Nama Anggota Tim --">{$value.nama_karyawan}</option>
			{foreachelse}
			Data tidak ditemukan !
			{/foreach}
			</select>
		</div>

		<div class="form-group">
			<label>Client</label>
			<br>
			<select name="client" class="form-control select2" min="0" max="40" multiple>
                                        {foreach $dataclient as $cth}
										<option value={$cth.id_client}>{$cth.client_name}</option>
				           				{foreachelse}
				           				Data tidak ditemukan !
				           				{/foreach}
                            </select>							
		</div>

						<div class="form-group">
							<label>Budget</label><br><b>Rp.</b>
								<input type="text" name="money" title="Masukkan Jumlah Uang" data-inputmask="'alias': 'numeric', 'groupSeparator':'.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'prefix': ' ', 'placeholder': '0'" data-mask required>
						</div>

				</div>

				<div class="col-md-6">

					<div class="form-group" style="overflow: scroll; width: 500px; height: 400px;">

						<div class="form-group">
							
								<label>Project Description</label>
									<textarea name="deskripsi" title="Masukkan Deskripsi tentang Project" rows="3" cols="35" class="ckeditor" id="ckedtor" required oninvalid="this.setCustomValidity('Data tidak boleh kosong')" oninput="setCustomValidity('')" placeholder="-- Deskripsi Project --">
									</textarea>
						</div>

						<div class="form-group">
								<label>Project Justification</label> 
									<textarea height="300" name="justifikasi" title="Masukkan Justifikasi Project" placeholder="" class="ckeditor" id="ckedtor2" required oninvalid="this.setCustomValidity('Data tidak boleh kosong')" oninput="setCustomValidity('')" placeholder="-- Justifikasi Project --">
									</textarea>
						</div>
				
						<div class="form-group">
								<label>Not in this Project</label> 
									<textarea name="not_in" rows="3" cols="35" class="ckeditor" id="ckedtor3" title="Masukkan Data yang tidak ada pada Project" placeholder="-- Data yang tidak ada dalam Project" required oninvalid="this.setCustomValidity('Data tidak boleh kosong')" oninput="setCustomValidity('')">
									</textarea>
						</div>

					</div>

				</div>
			</div>
		</div>

							<!-- <div class="box box-danger">
							<div class="box-header with-border">
								<div class="form-group">
								<script type="text/javascript" src="{$BASEURL}resource/themes/ckeditor/ckeditor.js"></script>
								<textarea class="ckeditor" id="ckedtor"></textarea>
								<br>
								<button type="submit" class="btn btn-success">Simpan</button>
								</div>
							</div>
							</div> -->



			<div class="box box-success">
				<div class="box-header with-border">
					<tr>
						<label><h4><b>
							Date And Upload  - Target Penyelesaian Inisiasi
						</b></h4></label>

						<td>
							<table>
								<tr>
									<td width="500px" align="center"><b>Start date</b></td>
									<td width="500px" align="center"><b>Due date</b></td>
									<td width="500px"  align="center"><b>Pilih File</b></td>
								</tr>
								<tr>
									<td align="center">
										<input type="text" name="tanggal_start" class="tanggal" id="mydate" maxlength="10" size="10" placeholder="- dd/mm/yyyy -" value="">
									</td>
									<td align="center">
										<input type="text" name="tanggal_due" class="tanggal" maxlength="10" size="10" placeholder="- dd/mm/yyyy -">
									</td>
									<td align="center">
									(File Berbentuk png, jpg, jpeg, docx, pdf, xlsx, ppt , rar, zip.)<br>
									Ket : Gunakan Ctrl + Click Untuk Memilih > 1 File Pada Folder File
										<input type="file" name="files[]" id="files" multiple>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</div>
			</div>

						<div class="form-group">
							<center>
								<button type="submit" class="btn btn-success" id="kirim">Simpan</button>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<button type="reset" value="reset" name="reset" class="btn btn-danger">Reset</button>
							</center>
								<br>
						</div>

	</form>
		

		<script>

			$('#files').change(function(){
			  var files = $('#files')[0].files;
			  var error = '';
			  var form_data = new FormData();
			  for(var count = 0; count<files.length; count++)
			  {
			   var name = files[count].name;
			   var extension = name.split('.').pop().toLowerCase();
			   if(jQuery.inArray(extension, ['png','jpg','jpeg','docx','pdf','xlsx','ppt','rar','zip']) == -1)
			   {
			    error = "Pilih file dengan format png, jpg, jpeg, docx, pdf, xlsx, ppt, rar, zip"
			   }
			   else
			   {
			    form_data.append("files[]", files[count]);
			   }
			  }
			  if(error == '')
			  {
			   $.ajax({
			    url:"{$config->site_url('initiation/initiation/upload_f')}", //base_url() return http://localhost/tutorial/codeigniter/
			    method:"POST",
			    data:form_data,
			    contentType:false,
			    cache:false,
			    processData:false,
			    beforeSend:function()
			    {
			     $('#uploaded_images').html("<label class='text-success'>Uploading...</label>");
			    },
			    success:function(data)
			    {
			     $('#uploaded_images').html(data);
			    }
			   })
			  }
			  else
			  {
			   alert(error);
			  }
			 });
		 	
		</script>
		<script type="text/javascript">
			$("#mydate").datepicker().datepicker("setDate", new Date());
		</script>
		<script type="text/javascript" src="{$BASEURL}resource/themes/ckeditor/ckeditor.js"></script>
</section>