<script type="text/javascript">
    $(document).ready(function () {
        // date picker
        $(".tanggal").datepicker({
            changeMonth: true,
            changeYear: true,
            buttonImageOnly: true,
            yearRange: '1970:2000',
            dateFormat: 'yy-mm-dd'
        });
        
    });
</script>
<section class="content-header">
    <h1>
        Pengolahan Data Initiation
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-database"></i> Master</a></li>
        <li><a href="#">Initiation</a></li>
        <li class="active">Ubah Data</li>
    </ol>
</section>

<section class="content">
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->

    <div class="row">
        <div class="col-md-12">

            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Form Ubah Data Initiation</h3>
                    <div class="box-tools">
                        <a class="btn btn-sm btn-primary" href="{$config->site_url('initiation/initiation')}" ><i class="fa fa-long-arrow-left"></i> Kembali</a>
                    </div>
                </div>
                <!-- /.box-header -->

                <div class="box-body">
                    <form  action="{$config->site_url('initiation/initiation/edit_process')}" method="post">
                        <input type="hidden" name="id_initiation" value="{$result.id_initiation|default:''}">
                            <div class="box box-default" data-url="{$BASEURL}">
                                <div class="box-header with-border">
                                        <label><h4><b>
                                            Detail Project
                                        </b></h4></label>
                                        <br>
    
                                  <div class="col-md-6">

                                        <div class="form-group">
                                            <label>Project Title</label>
                                                <input type="text" name="judul_project" 
                                                value ="{$result.project_title|default:''}" placeholder="" title="Masukkan Judul Project" class="form-control" required oninvalid="this.setCustomValidity('Data tidak boleh kosong')" oninput="setCustomValidity('')">
                                        </div>

                                        <div class="form-group">
                                            <label>Project Manager Department</label>

                                            <br>
                                            <select name="department[]" id="department" class="form-control select2 department" multiple="multiple" title="Pilih Manager Department Project">

                                                {foreach $datadepartment as $cth}

                                                <option value="{$cth.id_department}" 

                                                {if $cth.id_department|in_array:$ex}
                                                 selected="selected"{/if}>{$cth.nama_department}
                                                    
                                                </option>
                                                    {foreachelse}
                                                    Data tidak ditemukan !
                                                    {/foreach}
                                            </select>
                                        </div>

                                        
                                        <div class="form-group">
                                            <label>Team Member Name</label>
                                            <br>
                                                <select name="karyawan[]" title="Pilih Anggota Tim" class="form-control select2 karyawan" data-value="" multiple="multiple">
                                                  {foreach $marketing_kar as $value}
                                                    <option value="{$value.id_karyawan}"
                                                    {if $value.id_karyawan|in_array:$exs}
                                                 selected="selected"{/if}>{$value.nama_karyawan}</option>
                                                  {foreachelse}
                                                  Data tidak ditemukan !
                                                  {/foreach}
                                                </select>
                                        </div>

                                            <label>Client</label>
                                            <br>

                                        <div class="form-group">
                                                    <input name="client" title="Pilih Client" value ="{$result.id_client|default:''}"  list="list_client" class="form-control">
                                                        <datalist id = "list_client">
                                                            {foreach $dataclient as $cth}
                                                            <option label="{$cth.client_name}" value="{$cth.id_client}">
                                                            {/foreach}
                                                        </datalist>
                                        </div>

                                        <div class="form-group">
                                            <script type="text/javascript" src="{$BASEURL}resource/themes/ckeditor/ckeditor.js"></script>
                                                <label>Project Description</label>
                                                    <textarea name="deskripsi" title="Masukkan Deskripsi tentang Project" rows="3" cols="35" class="ckeditor" id="ckedtor" placeholder="" required oninvalid="this.setCustomValidity('Data tidak boleh kosong')" oninput="setCustomValidity('')">{$result.project_desc|default:''}
                                                    </textarea>
                                        </div>
                                  </div>

                                  <div class="col-md-6">

                                        <div class="form-group">
                                            <script type="text/javascript" src="{$BASEURL}resource/themes/ckeditor/ckeditor.js"></script>
                                                <label>Project Justification</label> 
                                                    <textarea name="justifikasi" title="Masukkan Justifikasi Project" placeholder="" class="ckeditor" id="ckedtor2" required oninvalid="this.setCustomValidity('Data tidak boleh kosong')" oninput="setCustomValidity('')">{$result.project_just|default:''}
                                                    </textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>Budget</label><br><b>Rp.</b>
                                                <input type="text" name="money" value ="{number_format($result.budget|default:'',2,",",".")}" title="Masukkan Jumlah Uang" data-inputmask="'alias': 'numeric', 'groupSeparator':'.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'prefix': ' ', 'placeholder': '0'" data-mask required>
                                        </div>
                                    
                                        <div class="form-group">
                                            <script type="text/javascript" src="{$BASEURL}resource/themes/ckeditor/ckeditor.js"></script>
                                                <label>Not in this Project</label> 
                                                    <textarea name="not_in" rows="3" cols="35" class="ckeditor" id="ckedtor3" title="Masukkan Data yang tidak ada pada Project" placeholder="" required oninvalid="this.setCustomValidity('Data tidak boleh kosong')" oninput="setCustomValidity('')">{$result.not_in_project|default:''}
                                                    </textarea>
                                        </div>

                                  </div>
                                </div>
                            </div>


                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <tr>
                                        <label><h4><b>
                                            Date And Upload  - Target Penyelesaian Inisiasi
                                        </b></h4></label>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td width="500px" align="center"><b>Start date</b></td>
                                                    <td width="500px" align="center"><b>Due date</b></td>
                                                    <td width="500px"  align="center"><b>Pilih File</b></td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <input type="text" name="tanggal_start" value ="{$result.start_date|default:''}" class="tanggal" maxlength="10" size="10">
                                                    </td>
                                                    <td align="center">
                                                        <input type="text" name="tanggal_due" value ="{$result.due_date|default:''}" class="tanggal" maxlength="10" size="10">
                                                    </td>
                                                    <td align="center">
                                                    (File Berbentuk png, jpg, jpeg, docx, pdf, xlsx, pptx , rar, zip.)<br>
                                                    Ket : Gunakan Ctrl + Click Untuk Memilih > 1 File Pada Folder File
                                                        <input type="file" name="files[]" id="files" multiple>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </div>
                            </div>
                            <!-- /.box-success -->

                                        <div class="form-group">
                                            <center>
                                                <button type="submit" class="btn btn-success" id="kirim">Simpan</button>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <button type="reset" value="reset" name="reset" class="btn btn-danger">Reset</button>
                                            </center>
                                            <br>
                                        </div>

                    </form>

        <script>

            $('#files').change(function(){
              var files = $('#files')[0].files;
              var error = '';
              var form_data = new FormData();
              for(var count = 0; count<files.length; count++)
              {
               var name = files[count].name;
               var extension = name.split('.').pop().toLowerCase();
               if(jQuery.inArray(extension, ['png','jpg','jpeg','docx','pdf','xlsx','pptx','rar','zip']) == -1)
               {
                error = "Pilih file dengan format png, jpg, jpeg, docx, pdf, xlsx, pptx, rar, zip"
               }
               else
               {
                form_data.append("files[]", files[count]);
               }
              }
              if(error == '')
              {
               $.ajax({
                url:"{$config->site_url('initiation/initiation/upload_f')}", //base_url() return http://localhost/tutorial/codeigniter/
                method:"POST",
                data:form_data,
                contentType:false,
                cache:false,
                processData:false,
                beforeSend:function()
                {
                 $('#uploaded_images').html("<label class='text-success'>Uploading...</label>");
                },
                success:function(data)
                {
                 $('#uploaded_images').html(data);
                 $('#files').val('');
                }
               })
              }
              else
              {
               alert(error);
              }
             });
                
        </script>

                </div>
                <!-- /.box-body -->

                    <div class="box-footer clearfix">
                        {$pagination.data|default:''}
                    </div>
        </div>
        <!-- /.col -->
        </div>
</section>