<section class="content-header">
{include file="base/templates/notification.html"}
<div class="box box-success">
	<div class="box-header with-border">
    	<label><h2><b>
        	Inisiasi
    	</b></h2></label>
    </div>
</div>
<div class="box box-success">
	<div class="box-header with-border">
		<div class="form-group">
			<div class="col-sm-2">
				<label>Client</label>
				</div>
				<select name="Client">
		 			<option value="" disabled="disabled" selected="selected">--Choose Department--</option>
            			{foreach $dataclient as $cth}
            		<option value={$cth.id_client}>{$cth.client_name}</option>
           				{foreachelse}
           				Data tidak ditemukan !
           				{/foreach}
           		</select>
		</div>
		<div class="col-sm-2">
		<label>Employees</label>
	</div>
			<div class="form-group">
			<div id="" style="overflow-y:scroll; height:100px;">
				<div class="checkbox-inline">
				{foreach $datakaryawan as $cth}
            		<label>
						<input type="checkbox">{$cth.nama_karyawan}
					</label>
					<br>
           {foreachelse}
           Data tidak ditemukan !
           {/foreach}
				</div>
			</div>
			</div>
		</div>
</div>
<div class="box box-success">
	<div class="box-header with-border">
		<label><h4><b>
			Detail Project
		</b></h4></label>
	<br>
	<div class="col-md-6">
		<div class="form-group">
			<label>Project Title</label>
			<input type="text" name="judul_project" placeholder="Judul Project" class="form-control" required oninvalid="this.setCustomValidity('Data tidak boleh kosong')" oninput="setCustomValidity('')">
		</div>
		<div class="form-group">
			<label>Project Manager Department</label>
				<select class="form-control">
					<option>Pilih..</option>
				</select>
		</div>
		<div class="form-group">
			<label>Project Description</label>
			<textarea name="deskripsi" rows="3" cols="35" class="form-control" placeholder="Deskripsi Tentang Project" required oninvalid="this.setCustomValidity('Data tidak boleh kosong')" oninput="setCustomValidity('')"></textarea>
		</div>
		<div class="form-group">
			<label>Project Justification</label> 
			<input type="text" name="justifikasi" placeholder="Justifikasi Project" class="form-control" required oninvalid="this.setCustomValidity('Data tidak boleh kosong')" oninput="setCustomValidity('')">
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label>Budget</label><br><b>Rp.</b>
			<input type="text" name="money" placeholder="Masukan jumlah uang" required oninvalid="this.setCustomValidity('Data tidak boleh kosong')" onkeydown="return numbersonly(this, event);">
		</div>
		<div class="form-group">
			<label>Schedule</label> 
			<textarea type="text" name="justifikasi" placeholder="Isi Schedule.." class="form-control" required oninvalid="this.setCustomValidity('Data tidak boleh kosong')" oninput="setCustomValidity('')"></textarea>
		</div>
		<div class="form-group">
			<label>Not in this Project</label> 
			<textarea name="not_in" rows="3" cols="35" class="form-control" placeholder="Data yang tidak ada pada Project" required oninvalid="this.setCustomValidity('Data tidak boleh kosong')" oninput="setCustomValidity('')"></textarea>
		</div>
	</div>
</div>
</div>
<div class="box box-success">
	<div class="box-header with-border">
		<tr>
			<label><h4><b>
				Date And Upload  - Target Penyelesaian Inisiasi
			</b></h4></label>
			<td>
				<table>
					<tr>
						<td width="500px" align="center"><b>Start date</b></td>
						<td width="500px" align="center"><b>Due date</b></td>
						<td width="500px" align="center"><b>Pilih File</b></td>
					</tr>
					<tr>
						<td align="center">
							<input type="date" name="tanggal_start">
						</td>
						<td align="center">
							<input type="date" name="tanggal_due">
						</td>
						<td align="center">
							<input type="file" name="foto_narsis">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</div>
</div>
<div class="box box-danger">
	<div class="box-header with-border">
	<center>
		<button type="submit" class="btn btn-success">Kirim</button>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button type="reset" value="reset" name="reset" class="btn btn-danger">Reset</button>
	</center>
	</div>
</div>
</section>